.grid-container-portafolio {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.01fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio"
      "grid-footer-secciones";
}
  
.grid-main-portafolio { 
      grid-area: grid-main-portafolio; 
}

.portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .portafolio {
        margin-top: -4%;
    }
} 

.portaTit {
    text-align: map-get($estiloTexto , alineacion);
    font-size: 130%;
    font-style: map-get($estiloTexto , estilo);
}

.cadaPorta {
    display: inline-block;
    margin: 1%;
    background-color: rgb(232, 236, 236);
    padding: 1%;
    position: relative;

    img {
        @include tamaño(100%, auto);
    }
}

@media (max-width: 1230px) {
    .cadaPorta {
        @include marginCostados(7%, 7%);
    }
}

@media (max-width: 1200px) {
    .cadaPorta {
        @include marginCostados(5%, 5%);
    }
}

@media (max-width: 895px) {
    .cadaPorta {
        @include marginCostados(1%, 1%);
    }
}

@media (max-width: 600px) {
    .cadaPorta {
        margin-top: 6%;
    }
}

.cadaPorta:hover {
    transform: scale(1.2, 1.2);
}

@media (max-width: 1200px) {
    .cadaPorta:hover {
        transform: scale(1.01, 1.01);
    }
}