$color-portada: rgb(108, 196, 140);
$color-titulo: rgb(108, 110, 108);
$fondo-titulo: rgb(232, 236, 236);
$fondo-titulo-sesiones: rgba(108, 196, 140, 0.904);
$color-piedepag: rgba(108, 196, 140, 0.904);
$alineacion-centrada: center;