@import "variables";
@import "extend";
@import "mixin";

* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:rgb(44, 39, 39);
}

.letra {
    font-family:'Montserrat';
}

.imagenFondoN {
    background-image: url("../img/fondoN.jpg");
    background-repeat:repeat;
    background-position: center center;
    position: relative;
}

.imagenFondoG {
    background-image: linear-gradient(to bottom, #e8ecec, #6cc48c, #e8ecec);
}

.grid-container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header"
      "grid-main"
      "grid-footer";
}

.grid-header { 
    grid-area: grid-header; 
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar {
    background-color: rgb(232, 236, 236) !important;
    
    .navbar-nav {
        width: 100%;
        justify-content: space-evenly;

        .nav-item {
            @include paddingCostados(2%, 2%);

            &:hover {
                font-weight: bolder;
            }

            .dropdown-menu {
                background-color: rgba(216, 216, 216, 0.788);
            }
        }
    }
}

.portada {
    background-color: $color-portada; 
    padding: 2.5%;

    img {
        @extend.imgFijo; 
        padding-top: 0.8%;
    }
}

@media (max-width: 991px) {
    .portada {
        padding-top: 4%;
    }
}

@media (max-width: 793px) {
    .portada {
        padding-top: 5%;
    }
}

@media (max-width: 594px) {
    .portada {
        padding-top: 6%;
    }
}

@media (max-width: 416px) {
    .portada {
        padding-top: 8%;
    }
}

@media (max-width: 767px) {
    .portada img {
        width: 20%;
    }
}

.titulo {
    @extend.tituloFijo;
    background-color: $fondo-titulo;
    font-size: 200%;
}

@media (max-width: 1200px) {
    .titulo{
        font-size: 190%;
    }
}

@media (max-width: 768px) {
    .titulo{
        font-size: 175%;
    }
}

@media (max-width: 480px) {
    .titulo{
        font-size: 160%;
    }
}

@media (max-width: 320px) {
    .titulo{
        font-size: 138%;
    }
}

.grid-main { 
    grid-area: grid-main; 
}

.subtitulo {
    padding: 4%;
    text-align: $alineacion-centrada;
    font-size: 180%;
}

@media (max-width: 1024px) {
    .subtitulo{
        font-size: 120%;
    }
}

@media (max-width: 768px) {
    .subtitulo{
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    .subtitulo{
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .subtitulo{
        font-size: 80%;
    }
}

@media (max-width: 320px) {
    .subtitulo{
        font-size: 70%;
    }
}

.texto {
    text-align: $alineacion-centrada;
    line-height: 1.8;
    margin-top: 3%;
    @include paddingCostados(5%, 5%);
}

@media (max-width: 1024px) {
    .texto{
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    .texto{
        font-size: 80%;
    }
}

@media (max-width: 480px) {
    .texto{
        font-size: 73%;
    }
}

@media (max-width: 320px) {
    .texto{
        font-size: 68%;
    }
}

.titulitos {
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    padding: 2%;
    text-align: $alineacion-centrada;
}

@media (max-width: 1024px) {
    .titulitos{
        font-size: 120%;
    }
}

@media (max-width: 600px) {
    .titulitos{
        font-size: 110%;
    }
}

@media (max-width: 320px) {
    .titulitos{
        font-size: 105%;
    }
}

.flex-fotosIndex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    div {
        margin: 1%;

        .fotoIndex {
            @include tamaño(270px, 100%);
        }
    }
}

@media (max-width: 1200px) {
    .flex-fotosIndex div {
        @include marginCostados(6%, 6%);
    }
}

@media (max-width: 1024px) {
    .flex-fotosIndex div {
        @include marginCostados(4%, 4%);
    }
}

@media (max-width: 768px) {
    .flex-fotosIndex div {
        @include marginCostados(1.5%, 1.5%);
    }
}

.grid-footer { 
    grid-area: grid-footer; 
    background-color: $color-piedepag;
    margin-top: 4%;
    padding-bottom: 1%;
}

.insta {
    padding: 2%;
    text-align: $alineacion-centrada;

    .logoInsta {
        @include tamaño(3%, 3%);
        margin-bottom: 1%;
    }

    h5 {
        font-size: 85%;
    }
}

@media (max-width: 768px) {
    .insta{
        font-size: 90%;
    }
}

@media (max-width: 600px) {
    .insta{
        font-size: 83%;
    }
}

@media (max-width: 480px) {
    .insta{
        font-size: 78%;
    }
}

@media (max-width: 320px) {
    .insta{
        font-size: 70%;
    }
}

.datos {
    margin-left: 1%;
}

@media (max-width: 768px) {
    .datos{
        font-size: 80%;
    }
}

@media (max-width: 600px) {
    .datos{
        font-size: 73%;
    }
}

@media (max-width: 480px) {
    .datos{
        font-size: 68%;
    }
}

@media (max-width: 320px) {
    .datos{
        font-size: 60%;
    }
}

// ------------------estilo secciones------------------

.grid-header-secciones { 
    grid-area: grid-header-secciones; 
    position: sticky;
    top: 0px;
    z-index: 1;
}

.grid-footer-secciones { 
    grid-area: grid-footer-secciones; 
    background-color: $color-piedepag;
    margin-top: 4%;
}

.tituloSesiones {
    @extend.tituloFijo;
    background-color: $fondo-titulo-sesiones;
    font-size: 370%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media (max-width: 768px) {
    .tituloSesiones {
        font-size: 320%;
    }
}

@media (max-width: 600px) {
    .tituloSesiones {
        font-size: 300%;
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .tituloSesiones {
        font-size: 280%;
        margin-top: 7%;
    }
}

@media (max-width: 320px) {
    .tituloSesiones {
        font-size: 240%;
    }
}

// ------------------estilo servicio------------------

.grid-container-servicio {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-servicio"
      "grid-footer-secciones";
}
  
.grid-main-servicio { 
    grid-area: grid-main-servicio; 
}

.servi {
    margin-top: -3%;

    .servicio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:0 auto;
        padding-bottom: 2%;

        .serviTitulo {
            text-align: $alineacion-centrada;
            color: $color-titulo;
            background-color: $fondo-titulo;
            font-weight: bolder;
            font-size: 170%;
            margin-top: 1%;
        }

        img {
            @extend.imgFijo; 
            padding: 2%;
            width: 40%;
        }

        .serviTF {
            text-align: $alineacion-centrada;
            line-height: 1.8;
            font-size: 110%;
            @include paddingCostados(15%, 15%);
        }
    }
}

@media (max-width: 480px) {
    .servicio {
        padding-top: 2%;
    }
}

@media (max-width: 768px) {
    .serviTitulo {
        font-size: 150%;
    }
}

@media (max-width: 600px) {
    .serviTitulo {
        font-size: 140%;
    }
}

@media (max-width: 480px) {
    .serviTitulo {
        font-size: 120%;
    }
}

@media (max-width: 320px) {
    .serviTitulo {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    .serviTF {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    .serviTF {
        font-size: 90%;
        @include paddingCostados(5%, 5%);
    }
}

@media (max-width: 480px) {
    .serviTF {
        font-size: 80%;
    }
}

@media (max-width: 480px) {
    .serviTF {
        font-size: 70%;
    }
}

.textoServ {
    text-align: center;
    line-height: 1.8;
    margin-top: 3%;
    @include paddingCostados(5%, 5%);
    font-size: 100%;
    background-color:rgb(183, 184, 183);
}

@media (max-width: 768px) {
    .textoServ {
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .textoServ {
        font-size: 70%;
    }
}

@media (max-width: 320px) {
    .textoServ {
        font-size: 65%;
    }
}

.textoG {
    text-align: $alineacion-centrada;
    line-height: 1.8;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 125%;
}

@media (max-width: 768px) {
    .textoG {
        font-size: 110%;
    }
}

@media (max-width: 480px) {
    .textoG {
        font-size: 90%;
    }
}

@media (max-width: 320px) {
    .textoG {
        font-size: 80%;
    }
}

.tabla {
    margin: 0 auto;
    background-color: rgb(241, 243, 242);
    text-align: $alineacion-centrada;
    table-layout: fixed;
    width: 50%;
    border: 2px solid;
}

@media (max-width: 768px) {
    .tabla {
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .tabla {
        font-size: 75%;
    }
}

@media (max-width: 320px) {
    .tabla {
        font-size: 60%;
    }
}

// ------------------a partir de acá es solo css------------------

// ------------------estilo portafolio------------------

.grid-container-portafolio {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio"
      "grid-footer-secciones";
}
  
.grid-main-portafolio { 
      grid-area: grid-main-portafolio; 
}

.portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .portafolio {
        margin-top: -4%;
    }
} 

@media (max-width: 320px) {
    .portafolio {
        margin-top: -18%;
    }
}

.fotoPort {
    display: inline-block;
    height: 400px;
}

.portaTit {
    text-align: center;
    font-size: 130%;
    font-style: italic;
}

.cadaPorta {
    display: inline-block;
    margin: 1%;
    background-color: rgb(232, 236, 236);
    padding: 1%;
    position: relative;
}

@media (max-width: 1251px) {
    .cadaPorta {
        @include marginCostados(0.3%, 0.3%);
    }
}

@media (max-width: 1180px) {
    .cadaPorta {
        @include marginCostados(6%, 6%);
    }
}

@media (max-width: 857px) {
    .cadaPorta {
        @include marginCostados(3%, 3%);
    }
}

@media (max-width: 768px) {
    .cadaPorta {
        margin-top: 6%;
    }
}

@media (max-width: 600px) {
    .cadaPorta {
        margin-top: 8%;
        margin-bottom: 2%;
    }
}

@media (max-width: 480px) {
    .cadaPorta {
        margin-top: -2%;
        margin-bottom: 10%;
    }
}

@media (max-width: 320px) {
    .cadaPorta {
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

.cadaPorta:hover {
    transform: scale(1.2, 1.2);
}

@media (max-width: 320px) {
    .cadaPorta:hover {
        transform: scale(1.1, 1.1);
    }
}

// ------------------estilo sesiones------------------

.grid-container-portafolio-infantil {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio-infantil"
      "grid-footer-secciones";
}
  
.grid-main-portafolio-infantil { 
    grid-area: grid-main-portafolio-infantil; 
}

.grid-container-portafolio-maternal {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio-maternal"
      "grid-footer-secciones";
}
  
.grid-main-portafolio-maternal { 
    grid-area: grid-main-portafolio-maternal;
}

.grid-container-portafolio-familiar {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio-familiar"
      "grid-footer-secciones";
}
  
.grid-main-portafolio-familiar { 
    grid-area: grid-main-portafolio-familiar; 
}

.grid-container-portafolio-boda {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-portafolio-boda"
      "grid-footer-secciones";
}
  
.grid-main-portafolio-boda { 
    grid-area: grid-main-portafolio-boda; 
}

.fotosSesion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto {
    padding: 0.5%;
}
 
.tamañoFV {
    width: 30%;
}

@media (max-width: 480px) {
    .tamañoFV {
        width: 44%;
    }
}

.tamañoFH {
    width: 65%;
}

@media (max-width: 600px) {
    .tamañoFH {
        width: 92%;
    }
}

@media (max-width: 480px) {
    .tamañoFH {
        width: 89%;
    }
}

// ------------------estilo sobre mi------------------

.grid-container-sobremi {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-sobremi"
      "grid-footer-secciones";
}
  
.grid-main-sobremi { 
    grid-area: grid-main-sobremi; 
}

.textoSobremi {
    text-align: center;
    line-height: 1.8;
    margin-top: 1%;
    @include paddingCostados(5%, 5%);
}

@media (max-width: 768px) {
    .textoSobremi {
        font-size: 90%;
    }
}

@media (max-width: 600px) {
    .textoSobremi {
        font-size: 80%;
    }
}

@media (max-width: 480px) {
    .textoSobremi {
        font-size: 70%;
    }
}

@media (max-width: 320px) {
    .textoSobremi {
        font-size: 60%;
    }
}

.miFoto img{
    @extend.imgFijo; 
    width: 50%;
    padding: 3%;
}

// ------------------estilo contacto------------------

.grid-container-contacto { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header-secciones"
      "grid-main-contacto"
      "grid-footer-secciones";
}

.grid-main-contacto { 
    grid-area: grid-main-contacto; 
}
  
.textoContacto {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 3%;
    font-size: 125%;
    @include paddingCostados(5%, 5%);
    @include marginCostados(10%, 10%);
    
}

@media (max-width: 1024px) {
    .textoContacto {
        font-size: 125%;
    }
}

@media (max-width: 768px) {
    .textoContacto {
        font-size: 115%;
    }
}

@media (max-width: 600px) {
    .textoContacto {
        @include marginCostados(5%, 5%);
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .textoContacto {
        @include marginCostados(2%, 2%);
        font-size: 90%;
    }
}

@media (max-width: 320px) {
    .textoContacto {
        font-size: 85%;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    @include marginCostados(30%, 30%);
    line-height: 1.8;
    border: 1px solid rgb(65, 64, 64);
    border-radius: 1;
    -webkit-appearance:none;
    background-color: rgb(203, 204, 203);
}

@media (max-width: 768px) {
    .formulario {
        font-size: 90%;
    }
}

@media (max-width: 600px) {
    .formulario {
        font-size: 85%;
    }
}

.formulario1 {
    padding-top: 3%;
}

.formulario1 input {
    width: 90%;
}

@media (max-width: 600px) {
    .formulario1 input {
        font-size: 90%;
    }
}

.formulario2 {
    padding-top: 3%;
    padding-bottom: 3%;
    width: auto;
}

.textoForm {
    margin-top: 1%;
    font-size: 110%;
}



.textarea {
    vertical-align: center;
    width: 98%;
}

.botones {
    background-color: grey;
}

.logoCont {
    @include tamaño(4%, 4%);
}

@media (max-width: 862px) {
    .logoCont {
        @include tamaño(5%, 5%);
    }
}

@media (max-width: 600px) {
    .logoCont {
        @include tamaño(6%, 6%);
    }
}

@media (max-width: 480px) {
    .logoCont {
        @include tamaño(7%, 7%);
    }
}